.caixa{
background-color: #1c2a33;
height: 250px;
box-shadow: 0 -5px 0 #00cc99;
}

.caixa2{
background-color: #00cc99;
height: 250px;
box-shadow: 0 -5px 0 #fff;
}

.icones-caixa{
	width: 80%;
	height: 80%;
	background-repeat: no-repeat;
	margin-left: 40%;
	margin-top: 5%;


}
#icone-money{
	
	background-image: url("img/no_money.png");
}

#icone-notepad{
	background-image: url("img/notepad.png");
	
}

#icone-games{
	background-image: url("img/games.png");
	margin-right: 15%;
}
#icone-responsive{
	background-image: url("img/responsive.png");
}

#texto-icon{
	color: #FFF;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: -40px;
}



