#banner{

	background-image: url("img/fundo2.jpg");
	max-width: 100%;
	height: 600px;

}

.faixa-topo{

	background-color: rgb(65,64,59, 0.6);
	width: 100%;
	height: auto;
	height:70px;
	position: relative;
	font-weight:
}

#texto-banner{
	color: white;
	text-align: center;
	margin-top: 15%;
	font-family: 'Roboto', sans-serif;
}

.faixa-topo .container .menu{
	float: right;
	position: relative;
	display: inline;
}

.faixa-topo .container .menu ul{
	padding: 25px 0px;
	text-align: center;
	text-decoration: none;

}
.faixa-topo .container .menu ul li{
	display: inline;
	padding: 20px;
	text-decoration: none;
	font-size: 10pt;
	color: #fff;
}
.faixa-topo .container .menu ul li:hover{
	border-bottom: 2px solid #4dffb8;
	text-decoration: none;
	font-size: 10pt;
	color: #4dffb8;
}
.faixa-topo .container .menu ul a {
	color: #fff;
	text-decoration: none;
	font-size: 10pt;
	border: none;
}
.faixa-topo .container .menu ul a:hover{
	color: #4dffb8;
	text-decoration: none;
	border: none;

}

#texto-banner h2{
	font-weight:300;
	font-size: 25px;
	margin: 10px;
}
